$black: #262626;
$accent: #fcd7b6;
$blue: #a3bbc8;
$grey: #8b8b8b;

%rubik400{
    font-family: 'Rubik-Regular',sans-serif;
    font-weight: 400;
    font-style: normal;
}
%rubik500{
    font-family: 'Rubik-Medium',sans-serif;
    font-weight: 500;
    font-style: normal;
}
%dm400{
    font-family: 'DMSans-Regular',sans-serif;
    font-weight: 400;
    font-style: normal;
}
%dm500{
    font-family: 'DMSans-Medium',sans-serif;
    font-weight: 500;
    font-style: normal;
}
%dm700{
    font-family: 'DMSans-Bold',sans-serif;
    font-weight: 700;
    font-style: normal;
}