@import 'reset';
@import 'libs';
@import 'vars';
@import 'fonts';
@import 'global';


.header{
    padding: 47px 0 45px;
    background-color: #fff;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin: 0 17px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__item-link{
        font-size: 15px;
        line-height: 12px;
        @extend %rubik500;
        color: #436372;
    }
}

.user-nav{
    display: flex;
    align-items: center;
    &__search{
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    &__twice{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $accent;
        width: 176px;
        height: 50px;
        border-radius: 30px 30px;
        position: relative;
        &::before{
            content: '';
            height: 30px;
            top: 10px;
            left: 50%;
            width: 1px;
            background-color: #fde7d3;
            position: absolute;
        }
    }
    &__link{
        position: relative;
        &-num{
            position: absolute;
            top: -9px;
            right: -9px;
            background-color: #fff;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            line-height: 1;
            @extend %dm400;
            color: #243f4d;
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px;
    }
}

.footer{
    .footer-top{
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        @extend %rubik400;
        color: #7b7b7b;
        border-bottom: 1px solid #a3bbc8;
        &__adress{
            max-width: 200px;
            width: 100%;
            margin-right: 100px;
            line-height: 24px;
            a{
                display: block;
                margin-bottom: 15px;
            }
        } 
    }
}

.footer-top{
    &__title{
        font-size: 16px;
        line-height: 21px;
        @extend %dm700;
        color: #1f2044;
        margin-bottom: 15px;
    }
    &__logo{
        margin-bottom: 20px;
    }
    &__nav{
        max-width: 170px;
        margin-right: 130px;
        padding-top: 15px;
        line-height: 32px;
    }
    &__item-form{
        max-width: 270px;
        padding-top: 15px;
    }
    &__text{
        margin-bottom: 35px;
        line-height: 32px;
    }
    &__form-input{
        font-size: 12px;
        line-height: 24px;
        @extend %dm400;
        color: #234969;
        padding: 13px 15px;
        background-color: #fef7f0;
    }
    &__form-btn{
        background-color: #a3bbc8;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        padding: 14px 15px;
        padding-right: 25px;
        margin-left: -4px;
    }
}

.footer-bottom{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik400;
    color: #7b7b7b;
    &__item{
        display: inline-block;
    }
    &__item + .footer-bottom__item{
        border-left: 1px solid #7b7b7b;
    }
    &__item-link{
        padding: 0 12px;
    }
}

@import 'media';