@import 'reset';
@import 'libs';
@import 'vars';
@import 'fonts';
@import 'global';


.header{
    padding: 47px 0 45px;
    background-color: #fff;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin: 0 17px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__item-link{
        font-size: 15px;
        line-height: 12px;
        @extend %rubik500;
        color: #436372;
    }
}

.user-nav{
    display: flex;
    align-items: center;
    &__search{
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    &__twice{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $accent;
        width: 176px;
        height: 50px;
        border-radius: 30px 30px;
        position: relative;
        &::before{
            content: '';
            height: 30px;
            top: 10px;
            left: 50%;
            width: 1px;
            background-color: #fde7d3;
            position: absolute;
        }
    }
    &__link{
        position: relative;
        &-num{
            position: absolute;
            top: -9px;
            right: -9px;
            padding-top: 1px;
            background-color: #fff;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            line-height: 1;
            @extend %dm400;
            color: #243f4d;
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        width: 52px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px;
    }
}

.footer{
    .footer-top{
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        @extend %rubik400;
        color: #7b7b7b;
        border-bottom: 1px solid #a3bbc8;
        &__adress{
            max-width: 200px;
            width: 100%;
            margin-right: 100px;
            line-height: 24px;
            a{
                display: block;
                margin-bottom: 15px;
            }
        } 
    }
}

.footer-top{
    &__title{
        font-size: 16px;
        line-height: 21px;
        @extend %dm700;
        color: #1f2044;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    &__logo{
        margin-bottom: 20px;
    }
    &__nav{
        max-width: 170px;
        margin-right: 130px;
        padding-top: 15px;
        line-height: 32px;
    }
    &__item-form{
        max-width: 270px;
        padding-top: 15px;
    }
    &__text{
        margin-bottom: 35px;
        line-height: 32px;
    }
    &__form-input{
        font-size: 12px;
        line-height: 24px;
        @extend %dm400;
        color: #234969;
        padding: 13px 15px;
        background-color: #fef7f0;
    }
    &__form-btn{
        background-color: #a3bbc8;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        padding: 14px 15px;
        padding-right: 25px;
        margin-left: -4px;
    }
}

.footer-bottom{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik400;
    color: #7b7b7b;
    &__item{
        display: inline-block;
    }
    &__item + .footer-bottom__item{
        border-left: 1px solid #7b7b7b;
    }
    &__item-link{
        padding: 0 12px;
    }
}

.slider-top{
    background-color: $accent;
    padding: 85px 0 100px;
}

.slider__item{
    display: flex !important;
    justify-content: space-between;
}

.slider__inner-content{
    padding-top: 100px;
    width: 470px;
    margin-right: 60px;
}

.slider__inner-title{
    font-size: 72px;
    line-height: 70px;
    @extend %rubik500;
    color: #243f4d;
    margin-bottom: 40px;
}

.slider__inner-text{
    font-size: 18px;
    color: #436372;
    @extend %rubik400;
    line-height: 30px;
    margin-bottom: 40px;
}

.slider__inner-btn{
    display: block;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik500;
    color: #fff;
    padding: 25px;
    width: 200px;
    background-color: #a3bbc8;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url(../images/nav_icons/arrow_right.svg);
        background-repeat: no-repeat;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 10px;
    }
}

.slider__inner-img{
    display: block;
    max-width: 640px
}

.slick-dots{
    font-size: 11px;
    line-height: 9px;
    color: #243f4d;
    @extend %rubik500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    li{
        margin: 0 5px;
        background-color: #fff;
        opacity: .5;
        border-radius: 50%;
        &:hover{
            opacity: 1;
        }
        &.slick-active{
            background-color: #fff;
            border-radius: 50%;
            opacity: 1;
        }
        button{
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@import 'media';